<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>FilterOne</filter-name>
  	<display-name>FilterOne</display-name>
  	<description></description>
  	<filter-class>filter.FilterOne</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterOne</filter-name>
  	<url-pattern>/FilterOne</url-pattern>
  </filter-mapping>
  
  <servlet>
  <servlet-name>HelloWorld</servlet-name>
  <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>loginServlet</servlet-name>
  <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dateproccess</servlet-name>
  	<display-name>dateproccess</display-name>
  	<description></description>
  	<servlet-class>servlet.dateproccess</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>loginServlet</servlet-name>
     <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dateproccess</servlet-name>
  	<url-pattern>/dateproccess</url-pattern>
  </servlet-mapping>
<welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
</welcome-file-list>


</web-app>
